@font-face {
    font-family: 'franchise';
    src: url('https://raw.githubusercontent.com/charleschristopherm/deuceswildffl/224070726ad789ab92bf84ce425c8713c858c087/fonts/FranchiseFilled.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}