@font-face {
    font-family: 'collegiate';
    src: url('https://raw.githubusercontent.com/charleschristopherm/deuceswildffl/c24f55aebe9069529a301ed04247e8423b70f927/fonts/CollegiateFLF.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}